name: Backend CI/CD - EC2 Auto Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts
      - name: Debug EC2 Host
        run: |
          echo "EC2_HOST length: ${#EC2_HOST}"
        env:
          EC2_HOST: ${{ secrets.EC2_HOST }}

      - name: Deploy backend to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@3.27.147.172 << 'EOF'
            echo "CONNECTED SUCCESSFULLY"
            cd /home/ubuntu/kickoff-api
            pwd
          EOF

